
@{
    ViewData["Title"] = "InputEmployee";
}

<form action="~/Home/GetEmployee" method="post">
    <input type="text" name="name"/>
    <br />
    <input type="number" name="age" />
    <br />
    <input type="text" name="address" />
    <br />
    <button type="submit">Lưu</button>
</form>

