@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
       @*  <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form> *@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li><a href="#"><i class="fa-solid fa-house"></i> <span> Trang chủ</span></a></li>
            <li class="header">Toolbar</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa-solid fa-list"></i> <span>Quản lí dữ liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../tables/simple.html"><i class="fa-solid fa-truck-field-un"></i> Nhà cung cấp</a></li>
                    <li><a href="../tables/data.html"><i class="fa-solid fa-filter"></i> Loại hàng</a></li>
                    <li><a href="../tables/data.html"><i class="fa-solid fa-person"></i> Khách hàng</a></li>
                    <li><a href="../tables/data.html"><i class="fa-solid fa-parachute-box"></i> Người giao hàng</a></li>
                    <li><a href="../tables/data.html"><i class="fa-solid fa-person"></i> Nhân viên</a></li>
                    <li><a href="../tables/data.html"><i class="fa-solid fa-box-open"></i> Mặt hàng</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa-solid fa-list"></i> <span>Quản lí bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../tables/simple.html"><i class="fa-solid fa-receipt"></i> Xử lí đơn hàng</a></li>
                    <li><a href="../tables/data.html"><i class="fa-solid fa-pen"></i> Lập đơn hàng</a></li>
                </ul>
            </li>
            <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
            @* <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> *@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- =============================================== -->