@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Bản Quyền thuộc vềĐần  <a href="https://www.facebook.com/emperor0409/"> Nguyễn Văn Hùng</a>.</strong> All rights
    reserved.
</footer>
