@model SV20T1080031.DomainModels.Category
@{

}

<div class="box box-primary">
    <div class=" box-body">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-warning">
                <p>@ViewBag.ErrorMessage</p>
            </div>
        }
        <form method="post" action="~/Admin/Category/Save">
            <input type="hidden" class="form-control" id="" name="CategoryID" value="@Model.CategoryID">
            <div class="form-group">
                <label for="">Tên loại hàng:</label>
                <input type="text" class="form-control" id="" autofocus name="CategoryName" value="@Model.CategoryName">
            </div>

            <div class="form-group">
                <label for="">Mô tả chi tiết:</label>
                <input type="text" class="form-control" id="" name="Description" value="@Model.Description">
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk"></i>
                Lưu dữ liệu
            </button>

            <button type="submit" class="btn">
                <a href="~/Admin/Category">
                    <i class="fa-solid fa-arrow-left"></i>
                    Quay lại
                </a>
            </button>

        </form>
    </div>
</div>
